h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.back {
  float: left;
}

.next {
  float: right;
}

/*.cover {
  background-color: #5091a3;
  color: white;
  border-radius: 25px;
}
https://stackoverflow.com/questions/35025145/background-color-of-tabs-in-shiny-tabpanel/43201952#43201952
.tabbable > .nav > li > a {
  background-color: #5091a3;
}
*/
.gif {
  text-align: center;
}
